

css html {
  font-family: 'Open Sans', sans-serif;
}

html,
body,
.container {
  height: 100%;
  overflow: hidden;
}

h1 {
  color: whitesmoke;
}

.container {
  display: table;
  width: 100%;
  padding: 0px;
  /*set left/right padding according to needs*/
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background: green;
  height: 50px;
}

.row {
  height: 100%;
  display: table-row;
}

@media (min-width: 768px) {
  .row .no-float {
    display: table-cell;
    float: none;
  }
}


.col-sm-3 {
  padding-top: 80px;
  background: #233d4d;
}

.col-sm-9 {
  background: #b5bec6;
}


.list-group {
  margin-bottom: 3px;
}

.message-write {
  width: 100%;
  padding-right: 25px;
  position: absolute;
  bottom: 0;
}

.message-write .send-form {
  display: inline-block;
  height: 50px;
  border: 1px solid #bcbdc0;
  width: 83%;
  position: relative;
  padding: 0 20px;
}

.message-write .send-button {
  width: 15%;
  height: 50px;
  display: inline-block;
  border: 2px solid #C06E52;
  background-color: #C06E52;
  color: #fff;
  cursor: pointer;
  text-align: center;
  float: right;
}

/*
textarea.form-control {
position: absolute;
bottom: 3px;
max-width: 60%
*/

.navbar {
  background-color: #233d4d;
}

.new-room-button {
  margin-bottom: 3px;
  background-color: #C06E52;
  border-color: #C06E52;
}

.btn-primary:hover {
  background-color: #C06E52;
  border-color: #C06E52;
}

.btn-primary.focus, .btn-primary:focus {
  background-color: #C06E52;
  border-color: #C06E52;
}

.btn-primary.active, .btn-primary:active {
  background-color: #C06E52;
  border-color: #C06E52;
}

#username-btn {
  background-color: #C06E52;
  border-color: #C06E52;
}

/*-------------------------------------
/* New Room Modal Box
/*-------------------------------------*/

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-content {
  padding-left: 7px;
  padding-bottom: 7px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


.chat-messages-group {
  font-size: 15px;
  padding: 10px;
}

.message-username {
  font-weight: bold;
  padding-right: 10px;
}

.message-content {
}
.message-timestamp {
  float: right;
}


/*-------------------------------------
/* Media Queries
/*-------------------------------------

/* Large desktops and laptops */

@media (min-width: 1200px) {}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
 
}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */

@media (max-width: 767px) {}


/* Portrait phones and smaller */

@media (max-width: 480px) {}