<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <h1 id="page-title">Bloc Chat</h1>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="sidebar col-md-3 no-float">

      <button class="btn btn-info" ng-click="main.openModal()">New Room</button>

      <div class="list-group" ng-repeat="room in main.chatrooms">
        <a href="" class="list-group-item" ng-click="main.setCurrentChatRoom(room); main.currentRoomShowing = true">{{room.$value}}</a>

      </div>
    </div>

    <div class="chatroom col-md-9 no-float">

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" ng-show="main.currentRoomShowing"><h3>{{main.currentRoom.$value}}</h3></div>


        <!-- Table -->
        <div class="panel-body">
          <p ng-repeat="message in main.messages">{{ message.username }}: {{ message.content }}: {{ message.sentAt }}</p>
        </div>
      </div>

      <div class="message-write">
        <textarea class="form-control" placeholder="type a message"></textarea>


      </div>

    </div>

  </div>

</div>

